* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  display: flex;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  margin: 0 10px;
  color: grey;
  padding: 15px;
  border-radius: 5px;
  

}
.project-box {
  margin-bottom: 70px;
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
}

.active {
  color: darkblue;
}

h1 {
  font-size: 3rem;
  margin: 20px 30px auto 30px;
}

